@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body, html {
  scroll-behavior: smooth;
}


img.tagircover {
  width: 85%;
  padding: 25px;
}
.topnav {
  position: fixed;
  right: 0;
  top: 0;
}
.topnav a {
  font-family: 'Ubuntu';
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}
.parallax {
  background-image: url("spacecover.jpg");
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  position: static;
}

/*contact */
.sctncontact {
  background-color: #36383a;
  position: static;
  width: 100%;
  height: auto;
  padding: 25px;
  display: block;
}

h1 {
  margin-left: 15px;
  color: white;
}

a:hover {
  text-decoration: none;
}

#you {
  width: 100px;
}

#in {
  width: 70px;
}

iframe {
  float: left;
}
/*contact*/

.work {
  height: 1000px;
  position: static;
  background-size: cover;
  background-color: blue;
}

.black {
  color: black;
}

#work {
  height: 100px;
  font-size:36px;
  position: static;
}


#about {
  color: white;
  position: static;
  background-size: cover;
  height: 1000px;
  text-align: center;
}

#btn {
    font-family: "proxima nova";
    /* font-weight: 100; */
    font-size: 56px;
    text-align: center;
    border: solid 2px;
    border-radius: 50px;
    padding: 10px 80px;
    transition-duration: 200ms;
    text-decoration: inherit;
    text-align: center;
}


.button:hover {
  background-color: #31a6ff;
  color: #fff;
}





.topnav a {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
}
