    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 footer-bottom-left">
                    <p>Made by Tagir Sabirov.</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- ===================================================
		Javascript Files
	===================================================== -->
	<!-- jQuery Library -->
    <script src="{{ '/assets/js/jquery-1.12.0.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Boostrap JS -->
    <script src="{{ '/assets/js/bootstrap.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Owl Carousel -->
    <script src="{{ '/assets/js/owl.carousel.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Sticky JS -->
    <script src="{{ '/assets/js/jquery.sticky.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Smooth Scroll -->
    <script src="{{ '/assets/js/smooth-scroll.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Magnific Popup -->
    <script src="{{ '/assets/js/jquery.magnific-popup.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Counter Up -->
    <script src="{{ '/assets/js/jquery.counterup.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/waypoints.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- SymoTimer -->
    <script src="{{ '/assets/js/jquery.syotimer.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- WOW JS -->
    <script src="{{ '/assets/js/wow.min.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Mail JS -->
	<script src="{{ '/assets/js/mail.js?v=' | append: site.github.build_revision | relative_url }}"></script>
	<!-- Custom JS -->
    <script src="{{ '/assets/js/plugins.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script src="{{ '/assets/js/custom.js?v=' | append: site.github.build_revision | relative_url }}"></script>

</body>
</html>